// BUTTON STYLES
// -------------


// Base styles
// --------------------------------------------------

// Core
.btn {
  .buttonBackground(@btnBackground, @btnBackgroundHighlight);
  border: 1px solid @btnBorder;
  .border-radius();
  @shadow: inset 0 1px 0 rgba(255,255,255,.25);
  .box-shadow(@shadow);
  color: @textColor;
  cursor: pointer;
  display: inline-block;
  .ie7-inline-block();
  #font > .shorthand(@baseFontSize, bold, @baseLineHeight);
  font-family: 'Lato';
  margin: 0;
  padding: 3px 8px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,.25);
  vertical-align: middle;

  // Give IE7 some love
  .ie7-restore-left-whitespace();
}

// Hover state
.btn:hover {
  background-position: 0 10px;
  @shadow: inset 0 1px 0 rgba(255,255,255,.35);
  .box-shadow(@shadow);
  color: @textColor;
  text-decoration: none;

  // transition is only when going to hover, otherwise the background
  // behind the gradient (there for IE<=9 fallback) gets mismatched
  .transition(background-position .1s linear);
}

// Focus state for keyboard and accessibility
.btn:focus {
  .tab-focus();
}

// Active state
.btn.active,
.btn:active {
  background-image: none;
  .box-shadow(@shadow);
  @shadow: inset 0 1px 1px rgba(0,0,0,.1);
  outline: 0;
}

// Disabled state
.btn.disabled,
.btn[disabled] {
  background-image: none;
  cursor: default;
  .opacity(70);
  .box-shadow(none);
}


// Button Sizes
// --------------------------------------------------

// Large
.btn-large {
  padding: 8px 12px;
  font-size: @baseFontSize + 2px;
  .border-radius(4px);
}
  .btn-large [class^="icon-"] {
    margin-top: 1px;
  }

// Small
.btn-small {
  padding: 1px 6px;
  font-size: @baseFontSize - 1px;
}
  .btn-small [class^="icon-"] {
    margin-top: -1px;
  }

// Mini
.btn-mini {
  .border-radius(2px);
  padding: 1px 5px;
  font-size: @baseFontSize - 2px;
}


// Alternate buttons
// --------------------------------------------------

// Set text color
// -------------------------
.btn-danger,
.btn-danger:hover,
.btn-success,
.btn-success:hover,
.btn-info,
.btn-info:hover,
.btn-inverse,
.btn-inverse:hover {
  text-shadow: 0 1px 0 rgba(0,0,0,.4);
  color: @white;
}

.btn-warning,
.btn-warning:hover,
.btn-warning:active {
  border-color: @btnWarningBorder !important;
  color: @brown;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active {
  border-color: @btnPrimaryBorder !important;
  color: @white;
  text-shadow: 0 1px 0 rgba(0,0,0,.25);
}

// Provide *some* extra contrast for those who can get it
.btn-primary.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
  color: rgba(255,255,255,.75);
}

// Set the backgrounds
// -------------------------
.btn-primary {
  .buttonBackground(@btnPrimaryBackground, @btnPrimaryBackgroundHighlight);
}
// Warning appears are orange
.btn-warning {
  .buttonBackground(@btnWarningBackground, @btnWarningBackgroundHighlight);
}
// Danger and error appear as red
.btn-danger {
  .buttonBackground(@btnDangerBackground, @btnDangerBackgroundHighlight);
}
// Success appears as green
.btn-success {
  .buttonBackground(@btnSuccessBackground, @btnSuccessBackgroundHighlight);
}
// Info appears as a neutral blue
.btn-info {
  .buttonBackground(@btnInfoBackground, @btnInfoBackgroundHighlight);
}
// Inverse appears as dark gray
.btn-inverse {
  .buttonBackground(@btnInverseBackground, @btnInverseBackgroundHighlight);
}

// Green
.btn-green {
    .buttonBackground(@btnGreenBackground, @btnGreenBackgroundHighlight);
    border-color: @btnGreenBorder !important;
    color: @greenDark;

    &:hover {
        .buttonBackground(#f5fef1, #dafac9);
        color: @greenDark;
    }

    &:active {
        background-image: none;
    }
}


// Cross-browser Jank
// --------------------------------------------------

button.btn {
  // Firefox 3.6 only I believe
  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  // IE7 has some default padding on button controls
  *filter: chroma(color=#000000);//IE7 removes black border
  *padding-top: 4px;
  *padding-bottom: 4px;

  &.btn-large {
    *padding-top: 7px;
    *padding-bottom: 8px;
  }
  &.btn-mini {
    *padding-top: 3px;
    *padding-bottom: 2px;
  }
}

input[type="submit"].btn,
input[type="button"].btn {

  &::-moz-focus-inner {
    padding: 2px 0;
    border: 0;
  }
  
  *padding-top: 4px;
  *padding-bottom: 4px;
  
  &.btn-large {
    *padding-top: 8px;
    *padding-bottom: 8px;
    
    &::-moz-focus-inner {
      padding: 0 0 1px 0;
      border: 0;
    }
  }
  &.btn-small {
    *padding-top: 2px;
    *padding-bottom: 1px;
    
    &::-moz-focus-inner {
      padding: 2px 0 3px;
      border: 0;
    }
  }
}







.btn-xlarge {
    font-family: @baseFontFamily;
    font-size: 20px;
    min-width: 60px;
    padding: 4px 5px;
}

    .btn-xlarge span,
    .btn-xlarge small {
        display: block;
        font-size: 12px;
        font-weight: normal;
    }